<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{url_for('static', filename='style/pages/youtube-downloader.css')}} " />
    <link rel="stylesheet" href=" {{url_for('static', filename='style/template.css')}} " />
    <title>Document</title>
</head>

<body>
    <header class="sidebar">
        <ul class="sidebar-list">
            <li class="sidebar-item">
                <a href="#"><button class="sidebar-menu-link" disabled>Principal</button></a>
                <!--
                <ul class="sidebar-list">
                    <li class="sub-sidebar-item"><a href=""><button class="sidebar-menu-link"
                                disabled>Bienvenida</button></a>
                    </li>
                </ul>
                 -->
            </li>
            <li class="sidebar-item">
                <a href="/youtube-downloader"><button class="sidebar-menu-link active">Youtube Downloader</button></a>
            </li>
            <li class="sidebar-item">
                <a href="#"><button class="sidebar-menu-link">Redes</button></a>
            </li>
            <li class="sidebar-item">
                <a href="#"><button class="sidebar-menu-link">Linux</button></a>
            </li>
            <li class="sidebar-item">
                <a href="#"><button class="sidebar-menu-link">Docker</button></a>
            </li>
            <li class="sidebar-item">
                <a href="#"><button class="sidebar-menu-link">Créditos</button></a>
            </li>
        </ul>
    </header>

    <main class="content">
        <section class="content-header">
            <h2>Python Video Downloader</h2>
        </section>
        <section class="content-body">
            <h3>Nuestra aplicacion para descargar videos de youtube de forma gratuita, no es legal el uso de esta
                aplicacion, solo para fines educativos</h3>

            <p>Tu tambien puedes hacer este proyecto facil y rapido y personalizarlo como tu quieras, puedes ver el
                tutorial para recrear paso a paso o solo descargar el codigo de mi repositorio, este es muy simple
                asi que puede tener muchos cambios ❤️</p>

            <div class="tutorial">
                <h3>Requisitos:</h3>
                <ul>
                    <li>- Python 3.7 o Superio</li>
                    <li>- Editor de Codigo</li>
                    <li>- Conexion a Internet</li>
                </ul>
                <h3>Tutorial:</h3>
                <button class="submit">Ver Tutorial</button>
                <button class="submit">Ver Codigo</button>
            </div>

            <div class="program">
                <!-- FUCTION -->
                <form action="/videodownload" method="POST">
                    <h3>Datos de Descarga:</h3>
                    <div class="components">
                        <label for="url_link">Link del Video:</label>
                        <input type="text" name="url_link" required>

                        <label for="video_quality">Calidad de Video:</label>
                        <select name="video_quality">
                            <option value="144p">144p</option>
                            <option value="280p">280p</option>
                            <option value="360p">360p</option>
                            <option value="480p">480p</option>
                            <option value="720p">720p</option>
                            <option value="1080p">1080p (without audio)</option>
                        </select>
                    </div>
                    <div class="controls">
                        <button type="submit" class="submit">Descargar video</button>
                    </div>
                </form>
                <!-- OUTPUT -->
                <div class="output">
                    <h3>Estatus del video:</h3>
                    {% if download_status %}
                    <p class="text-output">{{ download_status }}</p>
                    {% endif %}
                </div>
            </div>
        </section>

        <footer id="footer">
            <div class="about-me">
                <div class="media-links">
                    <div class="social-link">
                        <a href="https://www.facebook.com/beofalejandro">
                            <img src="../static/pictures/ESCALIA/footer/facebook-logo.svg" class="social-logo"
                                alt=""></a>
                    </div>
                    <div class="social-link">
                        <a href="https://www.instagram.com/beofalejandro/">
                            <img src="../static/pictures/ESCALIA/footer/instagram-logo.svg" class="social-logo"
                                alt=""></a>
                    </div>
                    <div class="social-link">
                        <a href="https://open.spotify.com/playlist/3SdpLjljM8npoRd6Ret6Xr?si=04bb703b88604d10">
                            <img src="../static/pictures/ESCALIA/footer/spotify-logo.svg" class="social-logo"
                                alt=""></a>
                    </div>
                    <div class="social-link">
                        <a href="https://github.com/beofalejandro/ESCALIA">
                            <img src="../static/pictures/ESCALIA/footer/github-logo.svg" class="social-logo" alt=""></a>
                    </div>
                    <div class="social-link">
                        <a href="https://www.linkedin.com/in/beofalejandro/">
                            <img src="../static/pictures/ESCALIA/footer/linkedin-logo.svg" class="social-logo"
                                alt=""></a>
                    </div>
                </div>
                <figure class="f-logo">
                    <a href="#">
                        <img class="foot-logo" src="../static/pictures/ESCALIA/ESCALIALogo-white.svg"
                            alt="ESCALIA Logo" />
                    </a>
                </figure>
            </div>
            <div class="privacy-info">
                <div class="rules">
                    <ul>
                        <li>Politicas de Seguridad</li>
                        <li>Condiciones de Uso</li>
                        <li>Marcas Registradas</li>
                    </ul>
                </div>
                <div class="credits">
                    <p>&copy; ESCALIA 2024</p>
                </div>
            </div>
        </footer>
    </main>
</body>

</html>