body {
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url(../static/index/about_bg.jpg);
  background-position: center;
  color: #fff;
}

main {
  color: #fff;
}

.title {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credits-content {
  margin: 0 6%;
  display: flex;
  gap: 10px;
}

.escalia-credits {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#tx_created-by {
  padding: 10px 0;
}

#tx_escalia {
  padding: 10px 15px;
  background-color: #ec0138;
  color: #151515;
}

.alejandro-credits {
    width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tx_alejandro {
  padding: 10px 0;
}
