body {
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
  url(../static/index/index_bg.jpg);
  background-position: center;
  color: #fff;
}

.header-link {
  color: #000;
}

.header-link:hover {
  color: #EE2E31;
}

.content {
  text-align: center;
  background-color: #EEEEEE;
  padding: 15px 0;
}

.index_welcome {
  height: 600px;
}

.i_w_container {
  color: #FFF;
  padding: 250px 0 0 0;
  margin: 0 100px;
  text-align: center;
}

.w_content h1 {
  padding: 0 0 5px 0;
  font-size: 34px;
}

.w_content h1:hover {
  color: #a4031f;
  transition: 0.5s;
}

.i_w_controls {
  padding-top: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
}


.project-container {
  margin: 30px;
  padding: 20px 20px;
  border-radius: 7px;
  background-color: #BB0A21;
  color: #FFF;
}

.project-content {
  display: flex;
  gap: 5px;
}

.project-content h2{
  padding-bottom: 10px;
}

.project-description {
  padding: 20px 0;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 3px;
  background-color: #EEEEEE;
  border-radius: 7px;
  width: 50%;
}

.form-container form {
  justify-content: center;
}

.form-container label{
  color: #000;
}

.form-container input {
  background-color: #EEEEEE;
  color: #000;
  border: 1px solid #404040;
  border-radius: 5px;
}

#url_link {
  width: 70%;
}

.form-container select {
  background-color: #EEEEEE;
  color: #000;
}

@media screen and (max-width: 800px) {
  .index_welcome {
    height: auto;
  }

  .i_w_container {
    padding: 20% 0;
    margin: 0 10px;
  }

  .project-content {
    display: inline;
    gap: 5px;
  }

  .project-description {
    width: 100%;
  }
  
  .form-container {
    width: 100%;
  }
}