body {
  background-image: linear-gradient(180deg, #000000a1, #000000a1 ),
  url(../static/index/index_bg.jpg);
  background-position: center;
  background-color: #212121;
  color: #fff;
}

.header-link {
  color: #fff;
}

.header-link:hover {
  color: #EE2E31;
}

.content {
  text-align: center;
  background-color: #151515;
  padding: 15px 0;
}

.index_welcome {
  height: 600px;
}

.i_w_container {
  color: #fff;
  padding: 250px 0 0 0;
  margin: 0 100px;
  text-align: center;
}

.i_w_container h1 {
  padding: 0 0 10px 0;
  font-size: 34px;
}
.introduction-to-escalia {
  margin: 2%;
  padding: 1%;
  display: flex;
  gap: 10px;
}

.into-title {
  width: 60%;
  font-size: 28px;
  text-align: center;
  align-content: center;
  background: linear-gradient(120deg, #e979ff, rgb(117, 228, 195));
  background-size: 700px 100px;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.into-description {
  width: 40%;
  padding: 6% 0;
  background-image: url(../static/ESCALIA/ESCALIALogoCA-index.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 600px 300px;
}

.project-container {
  margin: 30px;
  padding: 2%;
  border-radius: 7px;
  background-color: #1B2A41;
  color: #FFF;
  border: 1px solid #F2BEFC;
}

.project-content {
  display: flex;
  gap: 5px;
}

.project-content h2{
  padding-bottom: 10px;
}

.project-description {
  padding: 20px 0;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 1%;
  background-color: #151515;
  border-radius: 7px;
  width: 50%;
}

.form-container form {
  justify-content: center;
}

.form-container label{
  color: #fff;
}

form > div {
  margin: 10px 0;
}

.form-container input {
  background-color: #151515;
  color: #fff;
  border: 1px solid #404040;
  border-radius: 5px;
}

#url_link {
  width: 70%;
}

.form-container select {
  background-color: #151515;
  color: #fff;
}

.output {
  color: #fff;
}

@media screen and (max-width: 800px) {
  .index_welcome {
    height: auto;
  }

  .i_w_container {
    padding: 20% 0;
    margin: 0 10px;
  }

  .introduction-to-escalia {
    display: inline;
  }

  .into-title {
    width: 100%;
  }
  
  .into-description {
    width: 100%;
  }

  .project-content {
    display: inline;
    gap: 5px;
  }

  .project-description {
    width: 100%;
  }
  
  .form-container {
    width: 100%;
  }
}