<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina Principal | ESCALIA with Python × HTML5</title>
    <link rel="stylesheet" href=" {{url_for('static', filename='index_stylesheet.css')}} " />
    <link rel="stylesheet" href=" {{url_for('static', filename='general_stylesheet.css')}} " />
    <link rel="Icon" href="library/logotype_resourses/ESCALIALogoCA.svg" />
</head>

<body>
    <header id="header">
        <img src="library/logotype_resourses/ESCALIALogo.svg" class="logo" alt="" />
        <input type="checkbox" id="menu" />
        <label for="menu">
            <img src="library/logotype_resourses/others/menu.svg" class="menu-icono" alt="" />
        </label>
        <ul class="menu">
            <li class="item">
                <a class="link" href="https://alejandrolmr.github.io/ESCALIA/">ESCALIA</a>
            </li>
            <li class="item">
                <a class="link" href="about.html">Acerca de</a>
            </li>
        </ul>
    </header>

    <section class="welcome">
        <div class="welcome-container">
            <h1>Seccion Python</h1>
            <p>
                Binevenido a nuestro lugar de pruebas, actualmente nos encontramos trabajando con la tecnologia de
                python para la integracion a la web, creeremos que es un buen camino ya que varios de mis proyectos que
                deseo hacer seran echos en este lenguaje y quiero que se puedan ejecutar desde aqui sin necesidad de
                descargar aplicaciones sino todo ya migrado a la web, disfruta tu estancia aqui
            </p>
            <p class="not_welcome">¿Te perdiste?</p>
            <button class="button"> Volver a ESCALIA Site</button>
        </div>
    </section>

    <section class="content">
        <h2>Prueba nuestros experimentos</h2>

        <div class="longest-cards-space">
            <div class="longest-cards">
                <div class="box-1">
                    <img src="library/pictures/cat_cards.jpg" class="longest-picture" />
                </div>
                <div class="box-2">
                    <h2>Proyecto 1: Descargar videos</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
                        qui adipisci fugiat blanditiis enim, debitis ut at non libero
                        reiciendis quidem ducimus temporibus porro. Earum quas voluptas
                        blanditiis quod delectus.
                    </p>
                    <a href="about.html">
                        <button class="button">Ejecutar</button>
                    </a>
                </div>
            </div>

            <div class="longest-cards">
                <div class="box-1">
                    <img src="library/pictures/cat_cards.jpg" class="longest-picture" />
                </div>
                <div class="box-2">
                    <h2>Explora mas a cerca de nosotros</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
                        qui adipisci fugiat blanditiis enim, debitis ut at non libero
                        reiciendis quidem ducimus temporibus porro. Earum quas voluptas
                        blanditiis quod delectus.
                    </p>
                    <a href="about.html">
                        <button class="button">Conoce Mas...</button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="group-a">
            <div class="box-1">
                <figure>
                    <a href="#">
                        <img class="foot-logo" src="library/logotype_resourses/ESCALIALogo.svg" alt="ESCALIA Logo" />
                    </a>
                </figure>
            </div>
            <div class="box-2">
                <h2>CV: Alejandro Barrientos Escalante</h2>
                <p>
                    Esta es una pagina web desarrollada por mi con el fin de usarlo como
                    portafolio por lo que solo incluira mis proyectos y algunos manuales
                    que inclusive les serviran para comprender mejor, Solo para fines
                    educativos
                </p>
            </div>
        </div>
        <div class="group-b">
            <small>&copy; 2023 <b>ESCALIA Software</b> - Todos los derechos
                Reservados</small>
        </div>
    </footer>

    <script src="scripts/main.js"></script>
</body>

</html>