<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina Principal | ESCALIA with Python × HTML5</title>
    <link rel="stylesheet" href=" {{url_for('static', filename='index_stylesheet.css')}} " />
    <link rel="stylesheet" href=" {{url_for('static', filename='general_stylesheet.css')}} " />
    <link rel="Icon" href="library/logotype_resourses/ESCALIALogoCA.svg" />
</head>

<body>
    <header id="header">
        <img src="library/logotype_resourses/ESCALIALogo.svg" class="logo" alt="" />
        <input type="checkbox" id="menu" />
        <label for="menu">
            <img src="library/logotype_resourses/others/menu.svg" class="menu-icono" alt="" />
        </label>
        <ul class="menu">
            <li class="item">
                <a class="link" href="about.html">
                    <button class="header-link">Acerca</button></a>
            </li>
        </ul>
    </header>

    <section class="i_welcome">
        <div class="i_w_container">
            <h1>Seccion Python</h1>
            <p>Binevenido a nuestro lugar de pruebas, actualmente nos encontramos trabajando con la tecnologia de
                python para la integracion a la web, creeremos que es un buen camino ya que varios de mis proyectos que
                deseo hacer seran echos en este lenguaje y quiero que se puedan ejecutar desde aqui sin necesidad de
                descargar aplicaciones sino todo ya migrado a la web, disfruta tu estancia aqui
            </p>
            <p class="not_welcome">¿Te perdiste?</p>
            <button class="button"> Volver a ESCALIA Site</button>
        </div>
    </section>

    <section class="content">
        <h2>PRUEBA LOS NUEVOS PROYECTOS</h2>
        <div class="longest-cards-space">
            <div class="longest-cards">
                <div class="box-1">
                    <img src="" class="longest-picture" />
                </div>
                <h2>Calculadora de Python</h2>
                <form action="/calcular" class="calculator" method="post" >
                    <label for="number1">Numero 1:</label>
                    <input type="text" name="number1" required>

                    <label for="operation">Operacion :</label>
                    <select name="operation" id="">
                        <option value="suma">Suma de numeros</option>
                        <option value="resta">resta de numeros</option>
                    </select>

                    <label for="number2">Numero 2:</label>
                    <input type="text" name="number2" required>

                    <button type="submit">calcular</button>
                </form>

                {% if result %}
                    <p>El resultado es {{ result }}</p>
                {% endif %}
            </div>
        </div>
    </section>

    <script src="scripts/main.js"></script>
</body>

</html>