<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{url_for('static', filename='style/pages/index.css')}} " />
    <link rel="stylesheet" href=" {{url_for('static', filename='style/template.css')}} " />
    <title>Document</title>
</head>

<body>
    <header class="sidebar">
        <ul class="sidebar-list">
            <li class="sidebar-item">
                <a href="#"><button class="sidebar-menu-link active" disabled>Principal</button></a>
                <ul class="sidebar-list">
                    <li class="sub-sidebar-item"><a href=""><button class="sidebar-menu-link active"
                                disabled>Bienvenida</button></a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="/python-youtube-download"><button class="sidebar-menu-link">Youtube Downloader</button></a>
            </li>
            <li class="sidebar-item">
                <a href="#"><button class="sidebar-menu-link">Redes</button></a>
            </li>
            <li class="sidebar-item">
                <a href="#"><button class="sidebar-menu-link">Linux</button></a>
            </li>
            <li class="sidebar-item">
                <a href="#"><button class="sidebar-menu-link">Docker</button></a>
            </li>
            <li class="sidebar-item">
                <a href="#"><button class="sidebar-menu-link">Créditos</button></a>
            </li>
        </ul>
    </header>
    <main class="content">
        <section class="main-title">
            <h1>Bienvenido a la nueva interfaz de proyectos de Python con Flask</h1>
            <br>
            <p>Estamos trabajando para que puedas ver cada proyecto de un forma diferente</p>
            
        </section>

        <section class="body-title">
            <p>Puedes ver los nuevos proyectos en la parte lateral y navegar por ellos, diviertete</p>
            <br>
            <h2>Instalacion</h2>
        </section>

        <footer id="footer">
            <div class="about-me">
                <div class="media-links">
                    <div class="social-link">
                        <a href="https://www.facebook.com/beofalejandro">
                            <img src="../static/pictures/ESCALIA/footer/facebook-logo.svg" class="social-logo"
                                alt=""></a>
                    </div>
                    <div class="social-link">
                        <a href="https://www.instagram.com/beofalejandro/">
                            <img src="../static/pictures/ESCALIA/footer/instagram-logo.svg" class="social-logo"
                                alt=""></a>
                    </div>
                    <div class="social-link">
                        <a href="https://open.spotify.com/playlist/3SdpLjljM8npoRd6Ret6Xr?si=04bb703b88604d10">
                            <img src="../static/pictures/ESCALIA/footer/spotify-logo.svg" class="social-logo"
                                alt=""></a>
                    </div>
                    <div class="social-link">
                        <a href="https://github.com/beofalejandro/ESCALIA">
                            <img src="../static/pictures/ESCALIA/footer/github-logo.svg" class="social-logo" alt=""></a>
                    </div>
                    <div class="social-link">
                        <a href="https://www.linkedin.com/in/beofalejandro/">
                            <img src="../static/pictures/ESCALIA/footer/linkedin-logo.svg" class="social-logo"
                                alt=""></a>
                    </div>
                </div>
                <figure class="f-logo">
                    <a href="#">
                        <img class="foot-logo" src="../static/pictures/ESCALIA/ESCALIALogo-white.svg"
                            alt="ESCALIA Logo" />
                    </a>
                </figure>
            </div>
            <div class="privacy-info">
                <div class="rules">
                    <ul>
                        <li>Politicas de Seguridad</li>
                        <li>Condiciones de Uso</li>
                        <li>Marcas Registradas</li>
                    </ul>
                </div>
                <div class="credits">
                    <p>&copy; ESCALIA 2024</p>
                </div>
            </div>
        </footer>
    </main>
</body>

</html>